body {
    background-image: url(bg.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.sergey {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: xxx-large;
    font-style: italic;
    background-color: darkorange;
    color: black;
    text-decoration: underline;
    text-align: left;
    position: fixed;
    border: black 5px ridge;
    padding: 25px;
    margin-top: 50px;
    margin-left: 20%;
}

.kirill {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 300px;
}